* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'rubik', sans-serif;
}

header {
  height: 100vh;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.05;
}

p {
  margin-top: 48px;
  font-size: 20px;
  line-height: 1.6;
}

h2 {
  font-size: 48px;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #e67e22;
  padding: 16px 32px;
  border-radius: 8px;
  margin-top: 48px;
  color: #fff;
  font-size: 20px;
}

.header__container {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__inner__container {
  width: 50%;
}