section {
    margin-bottom: 96px;
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-top: 64px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

ul {
    margin-bottom: 48px;
}

img {
    width: 100%;
    border-radius: 12px;
}

.btn:link,
.btn:visited {
    color: white;
    background-color: #087f5b;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-radius: 100px;
}

.btn__big {
    padding: 16px 32px;
    font-size: 18px;
}

.btn__small {
    padding: 8px 12px;
    font-size: 14px;
}

.btn:hover,
.btn:active {
    background-color: #099268;
}

.hero__textbox {
    align-self: center;
}

.hero__text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.5;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.features__title {
    margin-bottom: 16px;
    font-weight: bolder;
    font-size: 20px;
}

.features__text {
    font-size: 18px;
    line-height: 1.5;
}

.feature__icon {
    color: #087f5b;
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
}

.testimonial__section {
    background-color: #087f5b;
    padding: 24px;
    color: #fff;
    border-radius: 12px;
}

.testimonial__box {
    grid-column: 2 / -1;
    align-self: center;
}

.testimonial__box h2 {
    font-size: 24px;
}

.testimonial__text {
    font-style: italic;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.5;
    color: #e6fcf5;
}

.testimonial__author {
    color: #c3fae8;
}

.featured__box {
    padding: 32px;
}

.chair__details__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chair__price {
    font-weight: bolder;
    font-size: 20px;
}

.chair__icon {
    color: #087f5b;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.chairs {
    box-shadow: 0px 20px 30px 0px rgba(73, 80, 87, 0.08);
    border-radius: 12px;
}

.chairs img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.footer {
    text-align: center;
    margin: 1.5px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
}