:root {
  --rose700: '#BE123C';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f4f5f7;
  font-size: 1.2rem;
}
