*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: inter;
  /* background-color: rgba(30, 30, 30, 0.1); */
}
