/* HERO CSS  */

.primary-heading {
  font-size: 5.8rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.05;
  /* color: #4c45b3; */
  color: #2b2866;
  text-align: justify;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}

.hero-text {
  font-size: 1.8rem;
  letter-spacing: -0.5px;
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 5rem;
  color: #2b2866;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 9.6rem;
}

.hero-image {
  width: 75%;
}

.hero-image-flex {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 5rem;
}

.btn-hero,
.btn-hero:link,
.btn-hero:visited {
  display: inline-block;
  background-color: #4c45b3;
  color: #fff;
  border: none;
  padding: 1.2rem 3.6rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.btn-hero:hover,
.btn-hero:active {
  background-color: #6159e6;
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.hero-nav p,
.hero-nav span,
.text-title {
  font-size: 1.5rem;
  color: #2b2866;
}

.hero-nav span {
  color: #6159e6;
}

/* INPUT CSS  */
.form-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 9.6rem;
}

.form-basic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 4.5rem;
}

label p,
label span {
  text-align: justify;
  font-size: 1.5rem;
  color: #2b2866;
}

label span {
  opacity: 0.25;
}

.input {
  width: 90%;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.form-basic-2 {
  margin-top: 1rem;
}

.form-basic-2 h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2b2866;
  text-align: justify;
  margin-bottom: 0.5rem;
}

.form-sub {
  color: #2b2866;
  max-width: 65%;
  font-size: 1.5rem;
  margin-bottom: 3.2rem;
  text-align: justify;
  line-height: 1.5;
}

.form-basic-2 .select-label {
  font-size: 1.6rem;
  color: #2b2866;
  text-align: start;
}

select {
  border: none;
  width: 75%;
  padding: 0.5rem;
}

option {
  font-size: 1.5rem;
}

.select {
  margin-bottom: 2rem;
}

.select-label {
  margin-bottom: 0.5rem;
}

/* ///////////////////
*/

/* TEXT AREA FORM */

.text-area-form {
  appearance: none;
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(4, 69, 175);
  padding: 0 0 0.5rem;
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  resize: none;
  overflow: hidden;
  transition: box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(2, 21, 50, 0.5) 0px 1px;
}

.section-form--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.textarea-label {
  margin-bottom: 4.5rem;
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  margin-bottom: 9.6rem;
  padding-left: 4rem;
}

.checkbox div {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #2b2866;
}

.thecheckbox {
  height: 1.6rem;
  width: 1.6rem;
}

.checkbox label {
  margin-left: 0.5rem;
}

.checkbox-label {
  text-align: left;
}

.title-check {
  text-align: left;
  padding-left: 4rem;
  margin-bottom: 2.4rem;
}

.second-form--1,
.second-form--2 {
  color: #2b2866;
  font-size: 2rem;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 0.75rem;
  margin-left: 4rem;
}

.second-form-text--1,
.second-form-text--2 {
  font-size: 1.6rem;
  color: #2b2866;
  margin-bottom: 4.8rem;
  text-align: justify;
  margin-left: 4rem;
  line-height: 1.5;
}

.opacity {
  display: none;
}

.form-section {
  margin-bottom: 9.6rem;
}

/* PRICING DATA PAGE */

.container {
  margin-bottom: 9.6rem;
}

.welcome--name {
  text-align: start;
  color: #2b2866;
  margin-bottom: 4.8rem;
  margin-left: 9.6rem;
}

.welcome--name span {
  font-size: 1.6rem;
  text-transform: capitalize;
}

/* SPINNER */

.loader {
  margin: 10% auto;
  /* position: absolute; */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  /* border-top: 16px solid #3498db; */
  border-top: 16px solid #2b2866;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* GRAPGH */

.visual--grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.visual--output {
  position: relative;
  margin-bottom: 9.6rem;
}

.visual--high-value {
  position: absolute;
  right: 8.5%;
  bottom: 69%;
  font-size: 1.4rem;
  font-weight: 800;
  color: #6159e6;
}

.visual--low-value {
  position: absolute;
  left: 15%;
  bottom: 18%;
  font-size: 1.4rem;
  font-weight: 800;
  color: #6159e6;
}

/* input {
  display: block;
  height: 2.4rem;
  outline: 1px solid transparent;
  outline-offset: 2px;
  border: none;
  border-radius: 8px;
  transition: color 0.2s;
  width: 50%;
} */

/* form {
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
} */

/* label {
  display: flex;
  align-items: center;
  gap: 2rem;
} */

@media (max-width: 600px) {
  .hero-container {
    display: block;
    margin-bottom: 4.8rem;
  }

  .hero-image-flex {
    display: none;
  }

  .form-box {
    display: block;
  }

  .form-basic-2 {
    margin: auto auto;
  }

  .form-sub {
    max-width: 100%;
  }

  .second-form--1,
  .second-form--2,
  .second-form-text--2,
  .second-form-text--1,
  .textarea-label {
    margin-left: 0;
  }

  .welcome--name {
    margin-left: 0;
  }

  .title-check,
  .checkbox {
    padding-left: 0;
  }

  .visual--grid {
    display: block;
    margin-bottom: 4.8rem;
  }

  .visual--grid img {
    width: 100%;
  }

  .visual--output {
    margin-bottom: 0;
  }

  .visual--low-value {
    left: -8%;
    bottom: 14%;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .visual--high-value {
    right: -12%;
    bottom: 80%;
    font-size: 1.3rem;
    font-weight: 700;
  }
}
