* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D2DDF6;
  /* background-color: #edf2ff; */
  /* background-color: red; */
  font-family: 'inter', sans-serif;
}


.top__header {
  height: 60px;
  background-color: #fcfcfc;
  position: relative;
}


.nav__container {
  display: flex;
  justify-content: center;
}

.nav__content {
  width: 1170px;
  height: 50px;
  border-radius: 10px;
  /* background-color: #e5dbff; */
  background-color: #F6F9FF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 35px;
}

.link {
  display: flex;
  gap: 25px;
}


.btn__link {
  padding: 7.5px;
}

.btn__links:last-child {
  background-color: black;
}

/* BAR CHART */

.pie__container {
  width: 966px;
  height: 504px;
  border-radius: 60px;
  background-color: #F6F9FF;
  margin: 100px auto;
  box-shadow: 12px 12px 2px 5px rgba(229, 237, 255, .9);;
  /* box-shadow: 0px 50px 100px rgba(229, 237, 255, 0.788); */
}