* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: Inika;
  box-sizing: border-box;
  background-color: #fff8e1; }

.mobile-nav,
.mobile-background,
.no-mobile-background {
  display: none;
  transition: all 0.5s ease; }
  @media only screen and (max-width: 46.875em) {
    .mobile-nav,
    .mobile-background,
    .no-mobile-background {
      display: block;
      z-index: 25; } }

@media only screen and (max-width: 46.875em) {
  .no-mobile-background {
    display: none; } }

@media only screen and (max-width: 46.875em) {
  .mobile-background {
    z-index: 20;
    background-color: #fff8e1;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: all 0.5s ease; } }

.show-mobile,
.show-mobile-links {
  z-index: 20;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #6a4028;
  transition: all 0.5s ease;
  list-style: none; }

.show-mobile {
  transform: translate(-50%, -75%);
  top: 75%;
  background: none;
  border: #6a4028 0.1rem solid;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  color: #6a4028;
  transition: all 0.5s ease; }

.show-mobile-links {
  position: fixed; }

.fix {
  position: fixed;
  top: 4rem;
  right: 1.5rem; }

.logo-fix {
  position: fixed;
  top: 0.1rem;
  left: 0.5rem; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  font-size: 1.6rem; }
  @media only screen and (max-width: 46.875em) {
    .header {
      justify-content: space-between;
      padding-left: 0.25rem;
      padding-right: 1.5rem; } }
  .header-logo {
    width: 16.5rem;
    height: 16.5rem;
    z-index: 25; }
    @media only screen and (max-width: 46.875em) {
      .header-logo {
        width: 12rem;
        height: 12rem; } }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: rgba(111, 68, 54, 0.8);
    width: 44.6rem;
    border-radius: 1rem;
    z-index: 11;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 46.875em) {
      .header-nav {
        display: none; } }
    .header-nav-link {
      padding: 1.1rem 2rem;
      transition: all 0.5s ease; }
    .header-nav-link:hover, .header-nav-link:active {
      background-color: #ffffff;
      padding: 1.1rem 2rem;
      border-radius: 1rem;
      color: rgba(111, 68, 54, 0.8);
      z-index: 11;
      transition: all 0.5s ease; }
    .header-nav-link {
      font-size: inherit;
      font-weight: 600;
      cursor: pointer; }
  .header-signup {
    border: #523728 solid 0.2rem;
    width: 10.4rem;
    height: 4.9rem;
    border-radius: 3.9rem;
    background: none;
    cursor: pointer;
    font-size: inherit;
    z-index: 10; }
    .header-signup:hover {
      background: #6a4028;
      color: #ffffff;
      transition: all 0.5s ease; }
    @media only screen and (max-width: 46.875em) {
      .header-signup {
        display: none; } }

.hero-section {
  width: 100%;
  background-image: url("Background.jpg");
  background-size: cover;
  padding-bottom: 2rem; }

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 61.25rem) {
    .hero-container {
      flex-direction: column; } }
  .hero-container-text-content {
    margin-left: 15rem;
    margin-top: 5rem; }
    @media only screen and (max-width: 46.875em) {
      .hero-container-text-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0; } }
    .hero-container-text-content-title {
      font-size: 6.9rem;
      font-weight: 400;
      color: #523728;
      line-height: 1.2;
      width: 80.4rem; }
      @media only screen and (max-width: 81.25em) {
        .hero-container-text-content-title {
          font-size: 5.9rem;
          width: 70rem; } }
      @media only screen and (max-width: 68.75em) {
        .hero-container-text-content-title {
          font-size: 4.9rem;
          width: 50rem; } }
      @media only screen and (max-width: 46.875em) {
        .hero-container-text-content-title {
          font-size: 3.6rem;
          width: fit-content;
          width: -moz-fit-content; } }
      @media only screen and (max-width: 46.875em) {
        .hero-container-text-content-title {
          font-size: 3.4rem;
          text-align: center; } }
    .hero-container-text-content-text {
      color: rgba(27, 11, 11, 0.75);
      font-size: 1.8rem;
      line-height: 1.6;
      width: 42rem;
      margin-top: 1rem; }
      @media only screen and (max-width: 46.875em) {
        .hero-container-text-content-text {
          text-align: center; } }
    .hero-container-text-content-button-box {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      gap: 2rem; }
      .hero-container-text-content-button-box-getstarted, .hero-container-text-content-button-box-watchdemo:hover {
        width: 14.7rem;
        height: 5.6rem;
        border: none;
        border-radius: 10rem;
        background: #6a4028;
        cursor: pointer;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2;
        transition: all 0.5s ease; }
      .hero-container-text-content-button-box-watchdemo, .hero-container-text-content-button-box-getstarted:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14.7rem;
        height: 5.6rem;
        border: #3d2619 solid 0.1rem;
        border-radius: 10rem;
        background: none;
        cursor: pointer;
        color: #523728;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2;
        transition: all 0.5s ease; }
  .hero-container-image {
    position: absolute;
    right: -1%;
    top: -40%;
    height: 60rem;
    width: 60rem; }
    @media only screen and (max-width: 81.25em) {
      .hero-container-image {
        height: 48rem;
        width: 48rem;
        top: -35%; } }
    @media only screen and (max-width: 68.75em) {
      .hero-container-image {
        height: 45rem;
        width: 45rem;
        top: -30%; } }
    @media only screen and (max-width: 61.25rem) {
      .hero-container-image {
        position: relative;
        top: 0;
        margin-bottom: -5rem; } }
    @media only screen and (max-width: 46.875em) {
      .hero-container-image {
        height: 27rem;
        width: 27rem; } }

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 4.6rem;
  align-items: center;
  margin-top: -8rem;
  margin-left: 5.7rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 68.75em) {
    .about {
      justify-content: center; } }
  @media only screen and (max-width: 46.875em) {
    .about {
      margin-left: 0; } }
  .about-image {
    width: 50rem; }
    @media only screen and (max-width: 81.25em) {
      .about-image {
        width: 42rem; } }
    @media only screen and (max-width: 68.75em) {
      .about-image {
        width: 35em; } }
    @media only screen and (max-width: 46.875em) {
      .about-image {
        margin-top: 4rem;
        width: 25em; } }
  .about-text-container {
    margin-top: 15rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 46.875em) {
      .about-text-container {
        align-items: center; } }
    .about-text-container button {
      display: inline-block; }
    @media only screen and (max-width: 58.5em) {
      .about-text-container {
        margin-top: 0; } }
    .about-text-container-title {
      font-size: 6rem;
      font-weight: 400;
      color: #220404; }
      @media only screen and (max-width: 81.25em) {
        .about-text-container-title {
          font-size: 5rem; } }
      @media only screen and (max-width: 46.875em) {
        .about-text-container-title {
          font-size: 3.2rem;
          text-align: center; } }
    .about-text-container-subtitle {
      margin-top: 0.25rem;
      font-size: 2.4rem;
      font-weight: 300;
      font-family: poppins; }
      @media only screen and (max-width: 46.875em) {
        .about-text-container-subtitle {
          font-size: 1.8rem;
          text-align: center; } }
    .about-text-container-text {
      margin-top: 2rem;
      margin-bottom: 3.5rem;
      font-size: 2rem;
      font-family: inter;
      width: 56rem; }
      @media only screen and (max-width: 81.25em) {
        .about-text-container-text {
          width: 45rem; } }
      @media only screen and (max-width: 46.875em) {
        .about-text-container-text {
          width: fit-content;
          text-align: center; } }

.menu {
  background-image: url("Background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 2.5rem; }
  .menu-title {
    margin-bottom: 1rem;
    font-size: 6.4rem;
    color: #6a4028; }
    @media only screen and (max-width: 81.25em) {
      .menu-title {
        font-size: 5.4rem; } }
  .menu-card {
    flex-direction: column;
    align-items: center;
    height: 35.1rem;
    width: 35.5rem;
    border: #000000 solid 0.4rem;
    border-radius: 4rem;
    background-color: #fff8e1;
    padding-top: 4rem;
    cursor: pointer;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 22.5em) {
      .menu-card {
        width: 26rem; } }
    .menu-card:hover {
      transform: translateY(-1rem);
      transition: all 0.5s ease;
      background-color: #fff8e1be; }
    .menu-card-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      flex-wrap: wrap; }
    .menu-card-icon img {
      height: 16rem;
      display: block;
      margin: 0 auto; }
    .menu-card-title {
      align-self: flex-start;
      margin-left: 1.5rem;
      margin-top: 2.5rem;
      font-size: 2.5rem;
      font-weight: 700; }
    .menu-card-desc {
      align-self: flex-start;
      margin-left: 1.5rem;
      margin-top: 0.5rem;
      font-size: 1.3rem; }
    .menu-card-details {
      display: flex;
      margin-left: 1.5rem;
      margin-right: 2rem;
      justify-content: space-between;
      align-items: center;
      margin-top: 4rem; }
      .menu-card-details div {
        font-size: 2.1rem;
        font-weight: 600;
        font-family: inter; }
        .menu-card-details div span {
          font-size: 1.8rem;
          color: #53a623; }
