@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-.otf);
}

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Bold.otf);
  font-weight: 700;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --text-color-light: #403d3d;
  --bg-hero: #e5ffdc80;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: 'neue montreal', sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
}
