.btn-format {
  background-color: transparent;
  border: none;
  padding: 1rem 2.4rem;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

//TEXT CONTENT
//
.hero {
  &-text-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
  }

  &-title {
    width: 80%;
    font-size: 6.8rem;
    font-weight: 500;
    display: inline-block;
    line-height: 6.8rem;
  }

  &-text-content {
    width: 68%;
    font-size: 2rem;
    letter-spacing: 0.02rem;
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    line-height: 150%;
  }

  &-btn {
    font-size: 2rem;
  }
  ////
  /// //
  ///
  ///
  ///
  ///

  &-img,
  &-img,
  &-img {
    &-1-text,
    &-2-text,
    &-3-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    //UNHOVER STATE LARGE IMAGE
    &-1-text,
    &-2-hover-text,
    &-3-hover-text {
      &-title,
      &-number {
        opacity: 1;
        position: absolute;
        bottom: 7.8rem;
        color: #fff;
      }

      &-title {
        left: 0;
        padding-left: 4rem;
        font-size: 2.8rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        line-height: 3.2rem;
        width: 10%;
      }

      &-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0;
        padding-right: 4rem;

        &:first-of-type {
          font-size: 2rem;
        }
      }
    }

    ////
    ////

    //TEXT ON PICTURES FOR SMALL IMAGE
    &-1-not-hover-text-title,
    &-2-text-title,
    &-3-text-title {
      min-width: 25rem;
      opacity: 1;
      position: absolute;
      bottom: 15rem;
      right: -8.5rem;
      color: #fff;
      transform: rotate(-90deg);
      font-size: 2.8rem;
      font-weight: 500;
    }

    &-1-not-hover-text-number,
    &-2-text-number,
    &-3-text-number {
      opacity: 0;
      visibility: hidden;
    }
  }

  //   &-container {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     gap: 8rem;
  //   }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
  }

  &-img {
    &-container {
      display: flex;
      flex: 1 0 60%;
      gap: 2rem;
    }

    &-1,
    &-2,
    &-3,
    &-1-not-hover {
      height: 59rem;
      background-size: cover;
      background-position: top;
      border-radius: 2rem;
      transition: all 0.5s;
      backface-visibility: hidden;
      cursor: pointer;
    }

    &-1 {
      width: 58%;
      background-image: url(/bolaji.png);
      position: relative;

      //NOT HOVER STATE FOR 1 (LARGE IMAGE)
      &-not-hover {
        width: 21%;
        background-image: url(/bolaji.png);
        position: relative;
      }
    }

    &-2 {
      width: 21%;
      background-image: url(/ezinne.png);
      position: relative;

      &:hover {
        width: 58%;
      }
    }

    &-3 {
      width: 21%;
      background-image: url(/coo.png);
      position: relative;

      &:hover {
        width: 58%;
      }
    }
  }
}

//COMPANY SECTION

.companies {
  &-section {
    margin-top: -12rem;
    max-width: 128rem;
    padding: 0 2.5rem;
  }

  &-container {
    // max-width: 128rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
  }

  &-logo-box {
    width: 100%;
    padding: 6rem 8rem 4rem;
    background-color: var(--dark-color);
    border-radius: 3.2rem;
  }

  &-heading {
    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
  }

  & {
    &-logos-grid {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 4rem;
      row-gap: 4rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      justify-items: center;
    }

    &-logo {
      max-width: 100%;
      display: inline-block;
      cursor: pointer;
    }
  }
}

///FEATURES SECTION
///
///

.feature {
  margin-top: 12rem;
  max-width: 128rem;
  padding: 0 2.5rem;

  &-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16.8rem;
    column-gap: 16.8rem;
  }

  &-image-1,
  &-image-3,
  &-image-4 {
    max-width: 100%;
  }

  &-image-2 {
    width: 80%;
    border-radius: 0.8rem;
  }

  &-content-1,
  &-content-2,
  &-content-3,
  &-content-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-image-2-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9cc;
    padding: 4rem;
    border-radius: 2.8rem;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  &-image-4-box {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  &-content {
    &-heading {
      font-size: 4rem;
      font-weight: 500;
      margin-bottom: 2.4rem;
      margin-top: 2rem;
      line-height: 110%;
    }

    &-text {
      font-size: 1.8rem;
      line-height: 140%;
      letter-spacing: 0.04rem;
    }
  }
}

//////TESTIMONIES SECTION
///
///

.section-testimonies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  //   display: flex;
  //   gap: 2rem;
  margin-top: 3.2rem;
}

.testimonies {
  &-box {
    max-width: 128rem;
    // width: 100%;
    background-image: linear-gradient(
      to bottom,
      var(--dark-color),
      var(--dark-color)
    );
    // margin-top: 12rem;
    padding: 4rem 2.5rem;
  }

  &-heading {
    font-size: 3.6rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 3.6rem;
  }
}

.testimony {
  &-card {
    // width: 100%;
    background-image: linear-gradient(to bottom, #fff, #fff);
    padding: 2.8rem;
    border-radius: 3.2rem;
  }

  &-img {
    height: 3.2rem;
    max-width: 100%;
  }

  &-paragraph {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    line-height: 140%;
    margin-top: 4rem;
  }

  &-name-box {
    margin-top: 4rem;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
    font-weight: 500;
    line-height: 140%;
  }

  &-role {
    font-weight: 400;
  }
}

//ADDRESS SECTION

.address {
  &-section {
    margin-top: 12rem;
    max-width: 128rem;
    padding: 0 2.5rem;
  }

  &-container {
    // width: 100%;
    background-image: linear-gradient(#eaeaea, #eaeaea);
    // max-width: 128rem;
    // padding: 0 2.5rem;
    border-radius: 3.2rem;
    padding: 4rem;
  }

  &-video {
    width: 100%;
    cursor: pointer;
  }

  &-content {
    // display: grid;
    // grid-template-rows: auto;
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    padding-top: 6rem;
    align-items: center;
    justify-content: space-between;
  }

  &-heading {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    flex: 0 0 50%;
  }

  &-btn {
    font-size: 2rem;
  }
}

//PRICING SECTION
///
///
///

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  flex: 0 0 50%;

  &-section {
    margin-top: 12rem;
    margin-bottom: 6rem;
    max-width: 128rem;
    padding: 0 2.5rem;
  }

  &-container {
    background-image: linear-gradient(#a9e0dc, #a9e0dc);
    border-radius: 3.2rem;
    padding: 5rem 8rem 0 8rem;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-heading {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.6rem;
  }

  &-btn {
    font-size: 2rem;
  }
}

//////FOOTER SECTION
///
///

.section-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  //   display: flex;
  //   gap: 2rem;
  margin-top: 3.2rem;
}

.footer {
  margin-top: 0 !important;
  color: #fff;
  z-index: -1;

  &-logo-svg {
    filter: brightness(1);
    position: relative;
    z-index: 200;
  }

  &-box {
    max-width: 128rem;
    // width: 100%;
    background-image: linear-gradient(
      to bottom,
      var(--dark-color),
      var(--dark-color)
    );
    // margin-top: 12rem;
    padding: 4rem 2.5rem;
  }

  &-btn {
    color: #fff;
  }
}
