.format-hero-bg-color,
.format-bg-color {
  width: 100%;
  display: flex;
  justify-content: center;
}

.format-hero-bg-color {
  background-color: var(--bg-hero);
  position: relative;
}

.format-bg-color {
  margin-top: 12rem;
  background-image: linear-gradient(
    to bottom,
    var(--dark-color),
    var(--dark-color)
  );
}

.hero-section {
  // background-color: var(--bg-hero);
  min-height: 90rem;
  max-width: 128rem;
  padding: 0 2.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 0;

  &-logo-svg {
    height: 2.5rem;
    position: relative;

    &:hover {
      color: #fff;
    }
  }

  &-mobile-menu-active {
    display: none;

    @media only screen and (max-width: 61.88em) {
      display: block;
    }
  }

  &-mobile-btn {
    opacity: 0;
    visibility: hidden;

    &-hidden-on-large {
      opacity: 0;
      visibility: hidden;
    }

    @media only screen and (max-width: 61.88em) {
      display: inline-block;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      border: none;
      background-color: var(--dark-color);
      height: 3.2rem;
      width: 3.2rem;
      z-index: 5500;
      // position: fixed;
      right: 12.5%;

      top: 5%;
    }
  }

  &-mobile-menu {
    display: none;

    @media only screen and (max-width: 61.88em) {
      // border: 1rem solid red;

      &-btns {
        // display: flex;
        // justify-content: space-between;
        // padding-left: 2.4rem;
        // padding-right: 5rem;

        display: flex;
        justify-content: space-between;
        margin-left: 2.4rem;
        margin-right: 5rem;
        padding-bottom: 8rem;
        border-top: 0.01rem solid #c2b5b5;
        padding-top: 3rem;
      }

      &-container {
        // background-image: linear-gradient(#fff, #fff);
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        background-color: white;
        width: 100%;
        height: 100%;

        &-flow {
          border: 1rem solid black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // align-items: center;
          width: 100%;
          height: 100%;

          &-box {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            border-bottom: 0.01rem solid #c2b5b5;
            margin-left: 2.4rem;
            margin-right: 5rem;

            button {
              text-align: start;
              margin-bottom: 2rem;
            }
          }

          &-toggle {
            display: flex;
            justify-content: space-between;
            // padding-left: 2.4rem;
            // padding-right: 5rem;
            margin-top: 3.2rem;
          }
          // display: flex;
          // justify-content: center;
          // gap: 5rem;
          // width: 100%;
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translateX(-50%);
          // border: 1rem solid black;
        }

        // border: 2rem solid red;
        z-index: 5000;
      }
    }
  }

  &-btn-container {
    display: flex;
    gap: 2rem;

    @media only screen and (max-width: 61.88em) {
      display: none;
    }
  }
}

//NAV BTNS

.btn-sign-in {
  border: 0.1rem solid #000;
  border-radius: 10rem;
  transition: all 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.btn-get-started {
  border: 0.1rem solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10rem;
  transition: all 0.3s;

  &:hover {
    background-color: inherit;
    color: #000;
  }
}
