.format-hero-bg-color,
.format-bg-color {
  width: 100%;
  display: flex;
  justify-content: center;
}

.format-hero-bg-color {
  background-color: var(--bg-hero);
}

.format-bg-color {
  margin-top: 12rem;
  background-image: linear-gradient(
    to bottom,
    var(--dark-color),
    var(--dark-color)
  );
}

.hero-section {
  // background-color: var(--bg-hero);
  min-height: 90rem;
  max-width: 128rem;
  padding: 0 2.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 0;

  &-logo-svg {
    height: 2.5rem;
    position: relative;
    z-index: 5500;

    &:hover {
      color: #fff;
    }
  }

  &-mobile-btn {
    opacity: 0;
    visibility: hidden;

    @media only screen and (max-width: 61.88em) {
      display: inline-block;
      opacity: 1;
      visibility: visible;
      cursor: pointer;
      border: none;
      background-color: var(--dark-color);
      height: 3.2rem;
      width: 3.2rem;
    }
  }

  &-mobile-menu {
    display: none;

    @media only screen and (max-width: 61.88em) {
      display: block;
      background-color: #fff;
      position: relative;
      z-index: 5000;

      &-container {
        position: absolute;
        background-color: #fff;
      }
    }
  }

  &-btn-container {
    display: flex;
    gap: 2rem;

    @media only screen and (max-width: 61.88em) {
      display: none;
    }
  }
}

//NAV BTNS

.btn-sign-in {
  border: 0.1rem solid #000;
  border-radius: 10rem;
  transition: all 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.btn-get-started {
  border: 0.1rem solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10rem;
  transition: all 0.3s;

  &:hover {
    background-color: inherit;
    color: #000;
  }
}
