.footer {
  background-color: $color-grey-dark-3;
  background-color: $color-grey-dark-3;
  padding: 18rem 0;
  font-size: 1.4rem;

  @include response(tab-port) {
    padding: 8rem 0;
  }

  &-logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include response(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &-logo {
    width: 15rem;
    height: auto;
  }

  &-navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include response(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &-list {
    list-style: none;
  }

  &-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &-link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-light-1;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:active,
    &:hover {
      color: $primary-color;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4rem);
    }
  }
  &-copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    float: right;
    // display: inline-block;

    @include response(tab-port) {
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}
