@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Light.otf);
  font-weight: 300; }

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-.otf); }

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Medium.otf);
  font-weight: 500; }

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Bold.otf);
  font-weight: 700; }

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --text-color-light: #403d3d;
  --bg-hero: #e5ffdc80;
  --dark-color: #1a182b; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--bg-color);
  font-family: 'neue montreal', sans-serif;
  font-size: 1.6rem;
  color: var(--dark-color); }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btn-format {
  background-color: transparent;
  border: none;
  padding: 1rem 2.4rem;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer; }
  .btn-format:focus {
    outline: none; }

.hero-text-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center; }

.hero-title {
  width: 80%;
  font-size: 6.8rem;
  font-weight: 500;
  display: inline-block;
  line-height: 6.8rem; }

.hero-text-content {
  width: 68%;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  margin-top: 1.6rem;
  margin-bottom: 4rem;
  line-height: 150%; }

.hero-btn {
  font-size: 2rem; }

.hero-img-1-text, .hero-img-2-text, .hero-img-3-text, .hero-img-1-text, .hero-img-2-text, .hero-img-3-text, .hero-img-1-text, .hero-img-2-text, .hero-img-3-text {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hero-img-1-text-title, .hero-img-1-text-number, .hero-img-2-hover-text-title, .hero-img-2-hover-text-number, .hero-img-3-hover-text-title, .hero-img-3-hover-text-number, .hero-img-1-text-title, .hero-img-1-text-number, .hero-img-2-hover-text-title, .hero-img-2-hover-text-number, .hero-img-3-hover-text-title, .hero-img-3-hover-text-number, .hero-img-1-text-title, .hero-img-1-text-number, .hero-img-2-hover-text-title, .hero-img-2-hover-text-number, .hero-img-3-hover-text-title, .hero-img-3-hover-text-number {
  opacity: 1;
  position: absolute;
  bottom: 7.8rem;
  color: #fff; }

.hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title, .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title, .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title {
  left: 0;
  padding-left: 4rem;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 3.2rem;
  width: 10%; }

.hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number, .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number, .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  padding-right: 4rem; }
  .hero-img-1-text-number:first-of-type, .hero-img-2-hover-text-number:first-of-type, .hero-img-3-hover-text-number:first-of-type, .hero-img-1-text-number:first-of-type, .hero-img-2-hover-text-number:first-of-type, .hero-img-3-hover-text-number:first-of-type, .hero-img-1-text-number:first-of-type, .hero-img-2-hover-text-number:first-of-type, .hero-img-3-hover-text-number:first-of-type {
    font-size: 2rem; }

.hero-img-1-not-hover-text-title, .hero-img-2-text-title, .hero-img-3-text-title, .hero-img-1-not-hover-text-title, .hero-img-2-text-title, .hero-img-3-text-title, .hero-img-1-not-hover-text-title, .hero-img-2-text-title, .hero-img-3-text-title {
  min-width: 25rem;
  opacity: 1;
  position: absolute;
  bottom: 15rem;
  right: -8.5rem;
  color: #fff;
  transform: rotate(-90deg);
  font-size: 2.8rem;
  font-weight: 500; }

.hero-img-1-not-hover-text-number, .hero-img-2-text-number, .hero-img-3-text-number, .hero-img-1-not-hover-text-number, .hero-img-2-text-number, .hero-img-3-text-number, .hero-img-1-not-hover-text-number, .hero-img-2-text-number, .hero-img-3-text-number {
  opacity: 0;
  visibility: hidden; }

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto; }

.hero-img-container {
  display: flex;
  flex: 1 0 60%;
  gap: 2rem; }

.hero-img-1, .hero-img-2, .hero-img-3, .hero-img-1-not-hover {
  height: 59rem;
  background-size: cover;
  background-position: top;
  border-radius: 2rem;
  transition: all 0.5s;
  backface-visibility: hidden;
  cursor: pointer; }

.hero-img-1 {
  width: 58%;
  background-image: url(/bolaji.png);
  position: relative; }
  .hero-img-1-not-hover {
    width: 21%;
    background-image: url(/bolaji.png);
    position: relative; }

.hero-img-2 {
  width: 21%;
  background-image: url(/ezinne.png);
  position: relative; }
  .hero-img-2:hover {
    width: 58%; }

.hero-img-3 {
  width: 21%;
  background-image: url(/coo.png);
  position: relative; }
  .hero-img-3:hover {
    width: 58%; }

.companies-section {
  margin-top: -12rem;
  max-width: 128rem;
  padding: 0 2.5rem; }

.companies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0; }

.companies-logo-box {
  width: 100%;
  padding: 6rem 8rem 4rem;
  background-color: var(--dark-color);
  border-radius: 3.2rem; }

.companies-heading {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500; }

.companies-logos-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-items: center; }

.companies-logo {
  max-width: 100%;
  display: inline-block;
  cursor: pointer; }

.feature {
  margin-top: 12rem;
  max-width: 128rem;
  padding: 0 2.5rem; }
  .feature-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16.8rem;
    column-gap: 16.8rem; }
  .feature-image-1, .feature-image-3, .feature-image-4 {
    max-width: 100%; }
  .feature-image-2 {
    width: 80%;
    border-radius: 0.8rem; }
  .feature-content-1, .feature-content-2, .feature-content-3, .feature-content-4 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .feature-image-2-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9cc;
    padding: 4rem;
    border-radius: 2.8rem;
    grid-row: 2/3;
    grid-column: 2/3; }
  .feature-image-4-box {
    grid-row: 4/5;
    grid-column: 2/3; }
  .feature-content-heading {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
    margin-top: 2rem;
    line-height: 110%; }
  .feature-content-text {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0.04rem; }

.section-testimonies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin-top: 3.2rem; }

.testimonies-box {
  max-width: 128rem;
  background-image: linear-gradient(to bottom, var(--dark-color), var(--dark-color));
  padding: 4rem 2.5rem; }

.testimonies-heading {
  font-size: 3.6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 3.6rem; }

.testimony-card {
  background-image: linear-gradient(to bottom, #fff, #fff);
  padding: 2.8rem;
  border-radius: 3.2rem; }

.testimony-img {
  height: 3.2rem;
  max-width: 100%; }

.testimony-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 140%;
  margin-top: 4rem; }

.testimony-name-box {
  margin-top: 4rem;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
  line-height: 140%; }

.testimony-role {
  font-weight: 400; }

.address-section {
  margin-top: 12rem;
  max-width: 128rem;
  padding: 0 2.5rem; }

.address-container {
  background-image: linear-gradient(#eaeaea, #eaeaea);
  border-radius: 3.2rem;
  padding: 4rem; }

.address-video {
  width: 100%;
  cursor: pointer; }

.address-content {
  display: flex;
  padding-top: 6rem;
  align-items: center;
  justify-content: space-between; }

.address-heading {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  flex: 0 0 50%; }

.address-btn {
  font-size: 2rem; }

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  flex: 0 0 50%; }
  .pricing-section {
    margin-top: 12rem;
    margin-bottom: 6rem;
    max-width: 128rem;
    padding: 0 2.5rem; }
  .pricing-container {
    background-image: linear-gradient(#a9e0dc, #a9e0dc);
    border-radius: 3.2rem;
    padding: 5rem 8rem 0 8rem; }
  .pricing-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .pricing-heading {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.6rem; }
  .pricing-btn {
    font-size: 2rem; }

.section-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin-top: 3.2rem; }

.footer {
  margin-top: 0 !important;
  color: #fff;
  z-index: -1; }
  .footer-logo-svg {
    filter: brightness(1);
    position: relative;
    z-index: 200; }
  .footer-box {
    max-width: 128rem;
    background-image: linear-gradient(to bottom, var(--dark-color), var(--dark-color));
    padding: 4rem 2.5rem; }
  .footer-btn {
    color: #fff; }

.format-hero-bg-color,
.format-bg-color {
  width: 100%;
  display: flex;
  justify-content: center; }

.format-hero-bg-color {
  background-color: var(--bg-hero); }

.format-bg-color {
  margin-top: 12rem;
  background-image: linear-gradient(to bottom, var(--dark-color), var(--dark-color)); }

.hero-section {
  min-height: 90rem;
  max-width: 128rem;
  padding: 0 2.4rem; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 0; }
  .navbar-logo-svg {
    height: 2.5rem; }
    .navbar-logo-svg:hover {
      color: #fff; }
  .navbar-btn-container {
    display: flex;
    gap: 2rem; }

.btn-sign-in {
  border: 0.1rem solid #000;
  border-radius: 10rem;
  transition: all 0.3s; }
  .btn-sign-in:hover {
    background-color: #000;
    color: #fff; }

.btn-get-started {
  border: 0.1rem solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10rem;
  transition: all 0.3s; }
  .btn-get-started:hover {
    background-color: inherit;
    color: #000; }
