@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Light.otf);
  font-weight: 300; }

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-.otf); }

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Medium.otf);
  font-weight: 500; }

@font-face {
  font-family: neue montreal;
  src: url(/NeueMontreal-Bold.otf);
  font-weight: 700; }

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --text-color-light: #403d3d;
  --bg-hero: #e5ffdc80;
  --dark-color: #1a182b; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--bg-color);
  font-family: 'neue montreal', sans-serif;
  font-size: 1.6rem;
  color: var(--dark-color); }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btn-format {
  background-color: transparent;
  border: none;
  padding: 1rem 2.4rem;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer; }
  .btn-format:focus {
    outline: none; }

.hero-text-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (max-width: 61.88em) {
    .hero-text-box {
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .hero-text-box div {
        flex: 1; } }
  @media only screen and (max-width: 47.82em) {
    .hero-text-box {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 2rem; }
      .hero-text-box div {
        flex: 1; } }

.hero-title {
  width: 80%;
  font-size: 6.8rem;
  font-weight: 500;
  display: inline-block;
  line-height: 6.8rem; }
  @media only screen and (max-width: 61.88em) {
    .hero-title {
      width: 100%; } }
  @media only screen and (max-width: 39rem) {
    .hero-title {
      width: 100%;
      font-size: 5.2rem; } }

.hero-text-content {
  width: 68%;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  margin-top: 1.6rem;
  margin-bottom: 4rem;
  line-height: 150%; }
  @media only screen and (max-width: 39rem) {
    .hero-text-content {
      width: 100%;
      font-size: 1.8rem; } }

.hero-btn {
  font-size: 2rem; }

.hero-img-1-text, .hero-img-2-text, .hero-img-3-text, .hero-img-1-text, .hero-img-2-text, .hero-img-3-text, .hero-img-1-text, .hero-img-2-text, .hero-img-3-text {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hero-img-1-text-title, .hero-img-1-text-number, .hero-img-2-hover-text-title, .hero-img-2-hover-text-number, .hero-img-3-hover-text-title, .hero-img-3-hover-text-number, .hero-img-1-text-title, .hero-img-1-text-number, .hero-img-2-hover-text-title, .hero-img-2-hover-text-number, .hero-img-3-hover-text-title, .hero-img-3-hover-text-number, .hero-img-1-text-title, .hero-img-1-text-number, .hero-img-2-hover-text-title, .hero-img-2-hover-text-number, .hero-img-3-hover-text-title, .hero-img-3-hover-text-number {
  opacity: 1;
  position: absolute;
  bottom: 7.8rem;
  color: #fff; }

.hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title, .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title, .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title {
  left: 0;
  padding-left: 4rem;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 3.2rem;
  width: 10%; }
  @media only screen and (max-width: 61.88em) {
    .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title, .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title, .hero-img-1-text-title, .hero-img-2-hover-text-title, .hero-img-3-hover-text-title {
      font-size: 2rem;
      padding-left: 1.5rem;
      bottom: 1.5rem; } }

.hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number, .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number, .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  padding-right: 4rem; }
  @media only screen and (max-width: 61.88em) {
    .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number, .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number, .hero-img-1-text-number, .hero-img-2-hover-text-number, .hero-img-3-hover-text-number {
      font-size: 1.2rem !important;
      right: -3rem;
      bottom: 2.5rem; } }
  .hero-img-1-text-number:first-of-type, .hero-img-2-hover-text-number:first-of-type, .hero-img-3-hover-text-number:first-of-type, .hero-img-1-text-number:first-of-type, .hero-img-2-hover-text-number:first-of-type, .hero-img-3-hover-text-number:first-of-type, .hero-img-1-text-number:first-of-type, .hero-img-2-hover-text-number:first-of-type, .hero-img-3-hover-text-number:first-of-type {
    font-size: 2rem; }

@media only screen and (max-width: 61.88em) {
  .hero-img-2-text-title, .hero-img-3-text-title, .hero-img-2-text-title, .hero-img-3-text-title, .hero-img-2-text-title, .hero-img-3-text-title {
    opacity: 0 !important; } }

.hero-img-1-not-hover-text-title, .hero-img-2-text-title, .hero-img-3-text-title, .hero-img-1-not-hover-text-title, .hero-img-2-text-title, .hero-img-3-text-title, .hero-img-1-not-hover-text-title, .hero-img-2-text-title, .hero-img-3-text-title {
  min-width: 25rem;
  opacity: 1;
  position: absolute;
  bottom: 15rem;
  right: -8.5rem;
  color: #fff;
  transform: rotate(-90deg);
  font-size: 2.8rem;
  font-weight: 500; }

.hero-img-1-not-hover-text-number, .hero-img-2-text-number, .hero-img-3-text-number, .hero-img-1-not-hover-text-number, .hero-img-2-text-number, .hero-img-3-text-number, .hero-img-1-not-hover-text-number, .hero-img-2-text-number, .hero-img-3-text-number {
  opacity: 0;
  visibility: hidden; }

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto; }
  @media only screen and (max-width: 61.88em) {
    .hero-container {
      grid-template-columns: 1fr; } }

.hero-img-container {
  display: flex;
  flex: 1 0 60%;
  gap: 2rem; }
  @media only screen and (max-width: 47.82em) {
    .hero-img-container {
      overflow-x: scroll; } }

.hero-img-1, .hero-img-2, .hero-img-3, .hero-img-1-not-hover {
  height: 59rem;
  background-size: cover;
  background-position: top;
  border-radius: 2rem;
  transition: all 0.5s;
  backface-visibility: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 61.88em) {
    .hero-img-1, .hero-img-2, .hero-img-3, .hero-img-1-not-hover {
      width: 24rem;
      height: 37.6rem;
      min-width: 24rem; } }

.hero-img-1 {
  width: 58%;
  background-image: url(/bolaji.png);
  position: relative; }
  @media only screen and (max-width: 61.88em) {
    .hero-img-1 {
      width: 24rem;
      height: 37.6rem;
      min-width: 24rem; } }
  .hero-img-1-not-hover {
    width: 21%;
    background-image: url(/bolaji.png);
    position: relative; }

.hero-img-2 {
  width: 21%;
  background-image: url(/ezinne.png);
  position: relative; }
  @media only screen and (max-width: 61.88em) {
    .hero-img-2 {
      width: 24rem;
      height: 37.6rem;
      min-width: 24rem; } }
  .hero-img-2:hover {
    width: 58%; }
    @media only screen and (max-width: 61.88em) {
      .hero-img-2:hover {
        width: 24rem;
        height: 37.6rem;
        min-width: 24rem; } }

.hero-img-3 {
  width: 21%;
  background-image: url(/coo.png);
  position: relative; }
  @media only screen and (max-width: 61.88em) {
    .hero-img-3 {
      width: 24rem;
      height: 37.6rem;
      min-width: 24rem; } }
  .hero-img-3:hover {
    width: 58%; }
    @media only screen and (max-width: 61.88em) {
      .hero-img-3:hover {
        width: 24rem;
        height: 37.6rem;
        min-width: 24rem; } }

.companies-section {
  width: 100%;
  margin-top: -12rem;
  max-width: 128rem;
  padding: 0 2.5rem;
  z-index: 20; }
  @media only screen and (max-width: 61.88em) {
    .companies-section {
      margin-top: 0; } }
  @media only screen and (max-width: 26.25em) {
    .companies-section {
      margin-top: 12rem !important; } }

.companies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0; }

.companies-logo-box {
  width: 100%;
  padding: 6rem 8rem 4rem;
  background-color: var(--dark-color);
  border-radius: 3.2rem; }

.companies-heading {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500; }
  @media only screen and (max-width: 61.88em) {
    .companies-heading {
      font-size: 2.8rem; } }

.companies-logos-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-items: center; }
  @media only screen and (max-width: 47.82em) {
    .companies-logos-grid {
      grid-template-columns: repeat(2, 1fr); } }

.companies-logo {
  max-width: 100%;
  display: inline-block;
  cursor: pointer; }

.feature {
  margin-top: 12rem;
  max-width: 128rem;
  padding: 0 2.5rem; }
  .feature-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16.8rem;
    column-gap: 16.8rem; }
    @media only screen and (max-width: 47.82em) {
      .feature-grid {
        display: block; } }
  .feature-image-1, .feature-image-3, .feature-image-4 {
    max-width: 100%; }
  .feature-image-2 {
    width: 80%;
    border-radius: 0.8rem; }
  .feature-content-1, .feature-content-2, .feature-content-3, .feature-content-4 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 47.82em) {
      .feature-content-1, .feature-content-2, .feature-content-3, .feature-content-4 {
        margin-top: 2rem;
        margin-bottom: 8rem; } }
  .feature-image-2-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9cc;
    padding: 4rem;
    border-radius: 2.8rem;
    grid-row: 2/3;
    grid-column: 2/3; }
  .feature-image-4-box {
    grid-row: 4/5;
    grid-column: 2/3; }
  .feature-content-heading {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
    margin-top: 2rem;
    line-height: 110%; }
    @media only screen and (max-width: 47.82em) {
      .feature-content-heading {
        font-size: 2.8rem;
        margin-bottom: 1rem; } }
  .feature-content-text {
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0.04rem; }

.section-testimonies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin-top: 3.2rem; }
  @media only screen and (max-width: 61.88em) {
    .section-testimonies {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2rem; } }
  @media only screen and (max-width: 47.82em) {
    .section-testimonies {
      grid-template-columns: 1fr; } }

.testimonies-box {
  max-width: 128rem;
  background-image: linear-gradient(to bottom, var(--dark-color), var(--dark-color));
  padding: 4rem 2.5rem; }

.testimonies-heading {
  font-size: 3.6rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 3.6rem; }
  @media only screen and (max-width: 61.88em) {
    .testimonies-heading {
      font-size: 2.8rem; } }

.testimony-card {
  background-image: linear-gradient(to bottom, #fff, #fff);
  padding: 2.8rem;
  border-radius: 3.2rem; }

.testimony-img {
  height: 3.2rem;
  max-width: 100%; }

.testimony-paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 140%;
  margin-top: 4rem; }

.testimony-name-box {
  margin-top: 4rem;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
  line-height: 140%; }

.testimony-role {
  font-weight: 400; }

.address-section {
  margin-top: 12rem;
  max-width: 128rem;
  padding: 0 2.5rem; }

.address-container {
  background-image: linear-gradient(#eaeaea, #eaeaea);
  border-radius: 3.2rem;
  padding: 4rem; }

.address-video {
  width: 100%;
  cursor: pointer; }

.address-content {
  display: flex;
  padding-top: 6rem;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 47.82em) {
    .address-content {
      display: block; } }

.address-heading {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  flex: 0 0 50%; }
  @media only screen and (max-width: 47.82em) {
    .address-heading {
      font-size: 2.8rem;
      margin-bottom: 2rem; } }

.address-btn {
  font-size: 2rem; }

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  flex: 0 0 50%; }
  @media only screen and (max-width: 47.82em) {
    .pricing {
      justify-content: center;
      align-items: center;
      padding-bottom: 4rem; } }
  .pricing-section {
    margin-top: 12rem;
    margin-bottom: 6rem;
    max-width: 128rem;
    padding: 0 2.5rem; }
  .pricing-container {
    background-image: linear-gradient(#a9e0dc, #a9e0dc);
    border-radius: 3.2rem;
    padding: 5rem 8rem 0 8rem; }
    @media only screen and (max-width: 61.88em) {
      .pricing-container {
        padding: 3rem 6rem 0 4rem; } }
    @media only screen and (max-width: 31.25rem) {
      .pricing-container {
        padding: 0; } }
  .pricing-content {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 47.82em) {
      .pricing-content {
        display: grid;
        justify-items: center; }
        .pricing-content img {
          grid-row: 1/2;
          width: 50%; } }
  .pricing-heading {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 61.88em) {
      .pricing-heading {
        font-size: 3.2rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 47.82em) {
      .pricing-heading {
        font-size: 2rem;
        padding: 1.5rem; } }
  .pricing-btn {
    font-size: 2rem; }

.section-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  margin-top: 3.2rem; }

.footer {
  margin-top: 1rem !important;
  color: #fff; }
  .footer-holder {
    max-width: 120rem; }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 47.82em) {
      .footer-container {
        display: block; } }
  .footer-logo-svg {
    display: inline-block;
    filter: brightness(1);
    position: relative; }
  .footer-box {
    width: 100%;
    max-width: 128rem;
    padding: 4rem 2.5rem; }
  .footer-btn {
    color: #fff; }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem; }
    @media only screen and (max-width: 47.82em) {
      .footer-links {
        margin-top: 6rem;
        display: block; }
        .footer-links button {
          padding-left: 0 !important; } }
  .footer-copyright {
    margin-right: 2.4rem;
    margin-top: 2rem;
    font-size: 1.2rem; }
  .footer-social-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem; }
  .footer-social {
    display: flex; }

.format-hero-bg-color,
.format-bg-color {
  width: 100%;
  display: flex;
  justify-content: center; }

.format-hero-bg-color {
  background-color: var(--bg-hero);
  position: relative; }

.format-bg-color {
  margin-top: 12rem;
  background-image: linear-gradient(to bottom, var(--dark-color), var(--dark-color)); }

.hero-section {
  min-height: 90rem;
  max-width: 128rem;
  padding: 0 2.4rem; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 0; }
  .navbar-logo-svg {
    height: 2.5rem;
    position: relative; }
    .navbar-logo-svg:hover {
      color: #fff; }
  .navbar-mobile-menu-active {
    display: none; }
    @media only screen and (max-width: 61.88em) {
      .navbar-mobile-menu-active {
        display: block; } }
  .navbar-mobile-btn {
    opacity: 0;
    visibility: hidden; }
    .navbar-mobile-btn-hidden-on-large {
      opacity: 0;
      visibility: hidden; }
    @media only screen and (max-width: 61.88em) {
      .navbar-mobile-btn {
        display: inline-block;
        opacity: 1;
        visibility: visible;
        cursor: pointer;
        border: none;
        background-color: var(--dark-color);
        height: 3.2rem;
        width: 3.2rem;
        z-index: 5500;
        right: 12.5%;
        top: 5%; } }
  .navbar-mobile-menu {
    display: none; }
    @media only screen and (max-width: 61.88em) {
      .navbar-mobile-menu-btns {
        display: flex;
        justify-content: space-between;
        margin-left: 2.4rem;
        margin-right: 5rem;
        padding-bottom: 8rem;
        border-top: 0.01rem solid #c2b5b5;
        padding-top: 3rem; }
      .navbar-mobile-menu-container {
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5000;
        background-color: white;
        width: 100%;
        height: 100%;
        z-index: 5000; }
        .navbar-mobile-menu-container-flow {
          border: 1rem solid black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%; }
          .navbar-mobile-menu-container-flow-box {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            border-bottom: 0.01rem solid #c2b5b5;
            margin-left: 2.4rem;
            margin-right: 5rem; }
            .navbar-mobile-menu-container-flow-box button {
              text-align: start;
              margin-bottom: 2rem; }
          .navbar-mobile-menu-container-flow-toggle {
            display: flex;
            justify-content: space-between;
            margin-top: 3.2rem; } }
  .navbar-btn-container {
    display: flex;
    gap: 2rem; }
    @media only screen and (max-width: 61.88em) {
      .navbar-btn-container {
        display: none; } }

.btn-sign-in {
  border: 0.1rem solid #000;
  border-radius: 10rem;
  transition: all 0.3s; }
  .btn-sign-in:hover {
    background-color: #000;
    color: #fff; }

.btn-get-started {
  border: 0.1rem solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10rem;
  transition: all 0.3s; }
  .btn-get-started:hover {
    background-color: inherit;
    color: #000; }
